@import url(css/buttons.css);
@import url(css/text.css);
@import url(css/images.css);
@import url(css/containers.css);

@media only screen and (min-width: 397px) {
    .progress-bar {
        margin-left: 26%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 396px) {
    .progress-bar {
        margin-left: 26%;
        margin-bottom: 10%;
        transform: translateX(-50%);
        right: -50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-screenshot {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .project-description {
        margin-top: 25px;
    }

    .project-screenshot {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .project-screenshot {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .project-screenshot {
        box-shadow: none;
        transition: all 0.7s;
    }

    .project-screenshot:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 5px black;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .flex-item {
        flex: 20%;
    }
}

@media (min-width: 768px) {
    .flex-item-projects {
        flex: 1;
        margin: 0 5px 0 5px;
    }

    .separator + .flex-container {
        flex-direction: row-reverse;
    }
}

nav {
    position: fixed;
    background-color: #2A2D34;
    z-index: 1;
    display: block;
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: x-large;
    transition: all .5s ease-in-out;
}

nav a:hover {
    color: #ffffff;
}

#burger-nav {
    display: block;
    cursor: pointer;
}

.navbar-text {
    color: rgba(255, 255, 255, 0.4);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    #burger-nav {
        display: none;
    }
}