@import url(css/buttons.css);
@import url(css/text.css);
@import url(css/images.css);
@import url(css/containers.css);

@media only screen and (min-width: 397px) {
    .progress-bar {
        margin-left: 26%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-screenshot {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .project-description {
        margin-top: 25px;
    }

    .project-screenshot {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .project-screenshot {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .project-screenshot {
        transition: transform 0.7s;
    }

    .project-screenshot:hover {
        transform: rotate(3deg);
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .flex-item {
        flex: 25%;
    }
}

@media (min-width: 768px) {
    .flex-item-projects {
        flex: 1;
        margin: 0 5px 0 5px;
    }

    .separator + .flex-container {
        flex-direction: row-reverse;
    }
}