* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 300px;
    font-family: Helvetica, sans-serif;
}

p, h1, h2, h3, h4 {
    color: #454545;
}

a:hover,
#social-links {
    text-decoration: none;
}

button {
    display: inline;
}

#background-image {
    position: relative;
    height: 100vh;
    background-image: url('nordwood-themes-166423.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#hero-footer,
#hero-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-main {
    top: 50%;
}

#hero-footer {
    top: 90%;
}

#learn-more-button,
.visit-website-button,
#email-button {
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#learn-more-button {
    border: none;
    outline: none;
}

.visit-website-button,
#email-button {
    border: 3px solid #E5C600;
    border-radius: 20px;
}

@media only screen and (min-width: 397px) {
    .progress-bar {
        margin-left: 26%;
        margin-bottom: 10%;
    }
}

.test {
    padding-left: 50%;
}

.gray-background {
    background-color: #EDEDEE;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-screenshot {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .project-description {
        margin-top: 25px;
    }

    .project-screenshot {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .project-screenshot {
        margin-top: 35px;
    }
}

.button-glow,
#learn-more-button {
    background-color: transparent;
}

.button-glow {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

.button-glow:hover, .button-glow:focus, .button-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.button-fade {
    overflow: hidden;
    transition-property: color, background-color;
}

.button-fade:hover, .button-fade:focus, .button-fade:active {
    background-color: #2A2D34;
    color: #DCDCDC;
}

.new-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-header,
.footer-text,
.flex-container {
    margin-bottom: 30px;
}

.black-background {
    background-color: #2A2D34;
}

footer #social-links a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

footer #social-links a:hover {
    color: #ffffff;
}

.footer-text {
    color: rgba(255, 255, 255, 0.4)
}

.teaser-text {
    margin-top: 50px;
}

.learn-more,
.description-text {
    font-size: large;
}

.learn-more {
    color: #B59983;
}

.learn-more.toggle {
    color: #000;
}

.visit-website-button,
#email-button,
.description-text {
    margin-bottom: 20px;
}

.skill-name {
    font-size: larger;
}

#codewars-badge {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.section-header {
    position: relative;
}

.section-header:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #474747;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.section-header-subtitle {
    margin-bottom: 40px;
    color: #808080;
}

.separator {
    margin-bottom: 25px;
    margin-top: 25px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.contact-button {
    background-color: transparent;
    border: 3px solid #E5C600;
    border-radius: 20px;
}

@media only screen and (min-width: 768px) {
    .project-screenshot {
        transition: transform 0.7s;
    }
    .project-screenshot:hover {
        transform: rotate(3deg);
    }
}
