#background-image {
    position: relative;
    height: 100vh;
    background-image: url('images/nordwood-themes-166423.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.progress-bar {
    transform: translateX(-50%);
    left: 25%;
}